name: Lint/Sec Checks

on: 
  workflow_dispatch:
  push:
    paths-ignore:
      - '**.md'
  pull_request:
    branches: [main]

jobs:
  go-linters:
    name: Go linters
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: Check code formatting
        uses: golangci/golangci-lint-action@v3
        with:
          # https://golangci-lint.run/usage/linters/
          args: --disable-all --enable goimports

      - name: Check code complexity
        uses: golangci/golangci-lint-action@v3
        with:
          args: --disable-all --enable funlen --enable gocyclo 

      - name: Check code style and patterns
        uses: golangci/golangci-lint-action@v3
        with:
          args: --disable-all --enable dupl --enable revive --enable whitespace

      - name: Check bugs and unused code
        uses: golangci/golangci-lint-action@v3
        with:
          args: --disable-all --enable errcheck --enable unused --enable staticcheck 

      - name: Check code performance
        uses: golangci/golangci-lint-action@v3
        with:
          args: --disable-all --enable maligned --enable prealloc

  gosec:
    name: Golang Security Checker
    runs-on: ubuntu-22.04
    env:
      GO111MODULE: on
    steps:
      - uses: actions/checkout@v3

      - name: Run Gosec Security Scanner
        uses: securego/gosec@master
        with:
          args: '-fmt sarif -out results.sarif ./...'

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v2
        if: always()
        with:
          sarif_file: results.sarif